
.container{
    display: grid;
    grid-template-columns: repeat(40,1fr);

}
.square {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: rgb(29, 29, 29); /* Set the initial background color */
    transition: background-color 1s ease; /* Smooth transition */
}