
.container{
    display: grid;
    grid-template-columns: repeat(40,1fr);

}
.square{
    height: 20px;
    width: 20px;
    background-color: black;
    transition: background-color 1s ease-out;
    
}